@media screen and (max-width: 1030px) {
    
    h3 {
        font-size: 1.2rem;
    }

    .main-nav {
        overflow: initial;
    }

    .hamburger{
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
         opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
   }
   .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        position: absolute;
        top: -1000px;
        left: 0;
        gap: 0;
        flex-direction: column;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        z-index: 1;
        /* background-color: aqua; */
        /* max-height: 10vh; */
        margin-top: 50px;
        padding: 0;

        background: rgba(236, 235, 255, 0.2);
        /* border-radius: 16px; */
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(3.3px);
        -webkit-backdrop-filter: blur(3.3px);
        border: 1px solid rgba(236, 235, 255, 0.3);

    }
    .hover-link{
        margin: 16px 0;
    }
    .nav-menu.active{
        top: 13%;
    }

    .company-logo{
        min-width: 200px;
    }
}

@media only screen and (max-width: 767px) {
    .box-wrapper {
        width: 100%;
    }
  
    .info-wrap,
    .form-wrap {
        width: 100%;
        height: inherit;
        float: none;
    }
  
    .info-wrap {
        border-radius: 30px 30px 0px 0px;
    }
  
    .form-wrap {
        border-radius: 0px 0px 30px 30px;
    }
  
    .form-group {
        width: 100%;
        float: none;
        margin: 25px 0px;
    }
  
    .form-fields .form-group:last-child,
    .submit-button {
        width: 100%;
    }
  
    .submit-button {
        margin: 10px 0px;
    }
  }