@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;700&display=swap');

/* resets */

	

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

:root {
    --primary-text-color: #183b56;
    --secondary-text-color: #577592;
    --accent-color: #2294ed;
    --accent-color-dark: #1d69a3;
    --padding-inline-section: 20px;
}

html{
    scroll-behavior: smooth;
}
  
::-webkit-scrollbar{
    width: 12px;
}
  
::-webkit-scrollbar-track{
    border-radius: 5px;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.25);
}
  
::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background: linear-gradient(to top, #2294ed , #1d69a3);
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--primary-text-color);
    overflow-x: hidden;
    height:100vh;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
    color: var(--secondary-text-color);
    line-height: 1.8rem;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul {
    list-style: none;
}

/* utility classes */

.small-bold-text {
    font-size: 1rem;
    font-weight: 700;
}

.container {
    max-width: 1180px;
    margin-inline: auto;
    padding-inline: var(--padding-inline-section);
    overflow: hidden;
}

.flex {
    display: flex;
    align-items: center;
}

.hover-link {
    color: var(--primary-text-color);
    transition: 0.2s ease-out;
}

.hover-link:hover {
    color: var(--accent-color);
}

.current-page {
	color:#4d006b;
	background-origin: border-box; 
	padding: 8px 12px;
    border-radius: 8px; 
    border: 2px solid rgb(0, 30, 94);
    text-decoration: none; 
	font-weight: lighter;
}
.primary-button {
    background-color: var(--accent-color);
    border-radius: 6px;
    font-weight: 700;
    color: white !important;
    padding: 12px 24px;
    box-shadow: 0 0 2px var(--secondary-text-color);
    transition: 0.2s ease-out;
    text-align: center;
}

.primary-button:hover {
    background-color: var(--accent-color-dark);
}

.secondary-button {
    border: 0.5px solid var(--secondary-text-color);
    border-radius: 6px;
    font-weight: 700;
    color: var(--primary-text-color) !important;
    padding: 12px 24px;
    transition: 0.2s ease-out;
}

.secondary-button:hover {
    border-color: var(--accent-color);
    color: var(--accent-color) !important;
}

/* nav bar */

.main-navi {
    margin-top: 20px;
    justify-content: space-between;
}

.company-logo img {
    width: 200px;
}

.nav-links {
    flex-basis: 730px;
}

.nav-menu{
  display: flex;
  align-items: center;
}

.nav-links ul {
    justify-content: space-between;
}

.nav-toggle {
    display: none;
}

.hamburger{
  display: none;
  cursor: pointer;
}

.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: black;
}

/* header section */
.header h1{
  text-align: center;
  margin-top: 4vh;
}

.header img{
    display: block;
    margin: 0 auto;
    width: 35vw;
  }

/*Cards */

@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');


.cards {
	font-family: 'Muli', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;
}

.course {
	background-color: #EEEFFF;
	border-radius: 10px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	display: flex;
	max-width: 100%;
	margin: 20px;
	overflow: hidden;
	width:70vw;
}

.course h6 {
	opacity: 0.6;
	margin: 0;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.course h2 {
	letter-spacing: 1px;
	margin: 10px 0;
}

.course-preview {
	background-color: #2A265F;
	color: #fff;
	padding: 30px;
	width: 25vw;
}

.course-info {
	padding: 30px;
	position: relative;
	width: 100%;
}

.card-btn {
	background-color: #2A265F;
	border: 0;
	border-radius: 50px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	color: #fff;
	font-size: 16px;
	padding: 12px 25px;
	position: absolute;
	bottom: 5vh;
	right: 2vw;
	letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.2s;
    display: flex;
    gap:7px;
    justify-content: center;
   align-items: center;
   
}

.card-btn:hover {
  background-color: #868FEE;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  color: black;

}

/*Up-arrow button*/


#myBtn{
    position: fixed;
    bottom: 20px;
    right: 10px;
    height: 60px;
    width: 60px;
    display: none;
    place-items: center;
    border-radius: 50%;
    transition: opacity 0.3s, background-color 0.3s;
    box-shadow: 4px 4px 6px 0 rgba(0, 0, 0, 0.3),
                inset -4px -4px 6px 0 rgba(255, 255, 255, .2),
                inset 4px 4px 6px 0 rgba(97, 96, 96, 0.2);
    cursor: pointer;
	z-index: 1;
}

#myBtn:hover{
    opacity: 1;
    background-color: #91f0c0;
    animation: animate 1s linear infinite;
}

@keyframes animate{
    50%{
        transform: translateY(3px);
    }
}


/* footer */

footer{
  
  bottom: 0;
  left: 0;
  right: 0;
  background: #111;
  height: auto;
  width: 100vw;
  padding-top: 40px;
  background-color: #ebf2fa;
  margin-top: 5vh;
}

.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-logo{
  font-size: 2.1rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 3rem;
}

.footer-content p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  color: #cacdd2;
}
nav {
    text-align: center;
    }
    
    nav ul{
      list-style: none;
      margin: 0 2px;
      padding: 0;
    }
    
    nav li {
       display: inline-block;
       padding: 6px 6px;
    }
    
    nav a {
      font-weight: normal;
      font-size: .90em;
    }