@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;700&display=swap');

/* resets */



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    
}

:root {
    --primary-text-color: #183b56;
    --secondary-text-color: #577592;
    --accent-color: #2294ed;
    --accent-color-dark: #1d69a3;
    --padding-inline-section: 20px;
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--primary-text-color);
    overflow-x: hidden;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
    color: var(--secondary-text-color);
    line-height: 1.8rem;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul {
    list-style: none;
}

/* utility classes */

.small-bold-text {
    font-size: 1rem;
    font-weight: 700;
}

.container {
    max-width: 1180px;
    margin-inline: auto;
    padding-inline: var(--padding-inline-section);
    overflow: hidden;
}

.flex {
    display: flex;
    align-items: center;
}

.hover-link {
    color: var(--primary-text-color);
    transition: 0.2s ease-out;
}

.hover-link:hover {
    color: var(--accent-color);
}

.primary-button {
    background-color: var(--accent-color);
    border-radius: 6px;
    font-weight: 700;
    color: white !important;
    padding: 12px 24px;
    box-shadow: 0 0 2px var(--secondary-text-color);
    transition: 0.2s ease-out;
    text-align: center;
}

.primary-button:hover {
    background-color: var(--accent-color-dark);
}

.secondary-button {
    border: 0.5px solid var(--secondary-text-color);
    border-radius: 6px;
    font-weight: 700;
    color: var(--primary-text-color) !important;
    padding: 12px 24px;
    transition: 0.2s ease-out;
}

.secondary-button:hover {
    border-color: var(--accent-color);
    color: var(--accent-color) !important;
}

/* nav bar */

.main-nav {
    margin-top: 20px;
    justify-content: space-between;
}

.company-logo img {
    width: 200px;
}

.nav-links {
    flex-basis: 730px;
}

.nav-menu{
  display: flex;
  align-items: center;
}

.nav-links ul {
    justify-content: end;
    gap: 40px;
}

.nav-toggle {
    display: none;
}

.hamburger{
  display: none;
  cursor: pointer;
}

.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: black;
}
/* social media section */

*, *::before, *::after{
  box-sizing: border-box;    
}
.mf-social-side-list {
  position: fixed;
  top: 30vh;
  left: 10px;
  z-index: 100;
}
.mf-social-side-list ul {
  list-style: none;
  display: flex;
  flex-direction: column;
 padding: 0;
 margin:0
}
.mf-social-side-list ul li a {
  color: #ffffff;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  line-height: 35px;
  margin-top: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.mf-social-side-list ul li a:hover {
  opacity: .9;
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
}
.mf-social-side-list ul li a[href*='facebook'] {
  background: #3b5998;
}
.mf-social-side-list ul li a[href*='instagram'] {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);;
}
.mf-social-side-list ul li a[href*='youtube'] {
  background: #c4302b;
}
.mf-social-side-list ul li a[href*='linkedin'] {
  background: #0077B5;
}
.mf-social-side-list ul li a[href*='twitter'] {
  background: #00acee;
}


/* header section */

header {
    padding: 50px var(--padding-inline-section) 0;
}

.header-section {
    justify-content: space-around;
    gap: 50px;

}

.header-left {
    max-width: 40vw;
}

.header-left h1 {
    margin-top: 20px;
}

.get-started-btn {
    margin-top: 20px;
}

.header-right img {
    width: 200%;
    transform: translateX(-13vw);
}


/* features section */

.features-section {
    padding: 80px var(--padding-inline-section) 0;
    background-image: url(./assets/asset\ 32.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.features-header {
    text-align: center;
    margin-bottom: 40px;
}

.features-heading-text {
    margin-bottom: 20px;
}

.features-area {
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}

.features-card {
    flex-direction: column;
    gap: 20px;
    max-width: 30%;
    text-align: center;
    min-width: calc(50% - 10px);
    margin-bottom: 50px;
}

.features-card img {
    width: 60px;
}

/* big feature section */

.big-feature-section {
    padding: 30px var(--padding-inline-section) 0;
}

.big-feature-container {
    gap: 30px;
}

#second-big-feature {
    flex-direction: row-reverse;
}

.feature-img img {
    width: 100%;
}

.feature-desc {
    flex-direction: column;
    align-items: center;
}

.center{
    position: relative;
    left: 23vw;
}

.doubt-img{
    width: 100%;
}

/* pricing section */

.pricing{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
    
    margin-bottom: 5vh;
  }
  .wrapper{
    max-width: 1090px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
  }
  .wrapper .table{
    background: #fff;
    width: calc(33% - 20px);
    padding: 30px 30px;
    position: relative;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    text-align: center;
    background: #E9EBFF ;
  }
  .table .price-section{
    display: flex;
    justify-content: center;
  }
  .table .price-area{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    padding: 2px;
  }
  
  .aj_p{
    text-align: center;
  }
  
  p.aj_des {
    color: grey;
    padding-bottom: 30px;
    font-size: 14px;
  }
  
  .table.premium {
    margin: -20px;
  }
  
  .premium_all {
    padding-top: 22px;
  }
  
  .price-area .inner-area{
    height: 100%;
    width: 100%;
    line-height: 117px;
    text-align: center;
    color: #fff;
    position: relative;
  }
  
  .price-area .inner-area .text{
    font-size: 25px;
    font-weight: 400;
    position: absolute;
    top: -10px;
    left: 5px;
  }
  
  .price-area .inner-area .price{
    font-size: 45px;
    font-weight: 500;
    margin-left: 16px;
  }
  
  .table .package-name{
    width: 100%;
    height: 2px;
    margin :35px 0;
    position: relative;
  }
  
  .table .features li{
    margin-bottom: 15px;
    list-style: none;
    display: flex;
    justify-content: space-between;
  }
  
  .features li .list-name{
    font-size: 17px;
    font-weight: 400;
  }
  
  .features li .icon{
    font-size: 15px;
  }
  
  .features li .icon.check{
    color: #2db94d;
  }
  
  .features li .icon.cross{
    color: #cd3241;
  }
  
  .table .btn{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .table .btn button{
    width: 80%;
    height: 50px;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    border: none;
    outline: none;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .table .btn button:hover{
    border-radius: 5px;
  }
  
  .basic ::selection,
  .basic .price-area,
  .basic .inner-area,
  .basic .head_tab h2{
    color:red;
    
  }
  
  .basic .btn button{
    background: red;
    color: #fff;
    margin-top: -75px;
  }
  
  .basic .btn button:hover{
    background: rgba(240, 101,36);
    color: #fff;
  }
  
  .premium ::selection,
  .premium .price-area,
  .premium .inner-area,
  .premium .head_tab h2{
    color:#ba24f0;
    margin-bottom: 1.5vh;
  }
  
  .premium .btn button{
    background: #ba24f0;
    color: #fff;
    margin-top: -75px;
  }
  
  .premium .btn button:hover{
    background: rgba(240, 101,36);
    color: #fff;
  }
  
  .ultimate ::selection,
  .ultimate .price-area,
  .ultimate .inner-area,
  .ultimate .head_tab h2{
    color:#f5b55a;
    margin-bottom: 1vh;
  }
  
  .ultimate .btn button{
    background: #f5b55a;
    color: #fff;
    margin-top: -75px;
  }
  
  .ultimate .btn button:hover{
    background: rgba(240, 101,36);
    color: #fff;
  }
  
  @media (max-width:756px){
    .wrapper .table{
      width: 100%;
    }
  
    .table.premium{
      margin: 40px 0px;
    }
    .table.ultimate{
      margin: 0px;
    }
  }
  
  ::selection{
    color:#fff;
  }
  
  .table .ribbon{
    width: 150px;
    height: 150px;
    position: absolute;
    top: -10px;
    left: -10px;
    overflow: hidden;
  }
  
  .table .ribbon::before,
  table .ribbon::after{
    position: absolute;
    content: "";
    z-index: -1;
    display: block;
    border: 7px solid #ba24f0;
    border-top-color: transparent;
    border-left-color: transparent;
  }
  
  .table .ribbon::before{
    top: 0px;
    right: 15px;
  }
  
  .table .ribbon::after{
    bottom: 15px;
    left: 0px;
  }
  
  .table .ribbon span{
    position: absolute;
    top:30px;
    right: 0;
    transform: rotate(-45deg);
    width: 200px;
    background: #ba24f0;
    padding: 10px 0;
    color: #fff;
    text-align: center;
    font-size: 17px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.12);
  }

/* footer */

footer{
  
  bottom: 0;
  left: 0;
  right: 0;
  background: #111;
  height: auto;
  width: 100vw;
  padding-top: 40px;
  background-color: #ebf2fa;
}

.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-logo{
  font-size: 2.1rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 3rem;
}

.footer-content p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  color: #cacdd2;
}
.basic:hover{

  animation: mymove 0.5s ;
  
  }
  @keyframes mymove {
    50% {box-shadow: 10px 20px 30px rgb(73, 73, 79);}
  }