@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;700&display=swap");

/* Switch Container */
.switch-container {
	position: absolute;
	transform: translate(-50%, -50%);
	display: flex;
	align-items: center;
	justify-content: center;
}

/* Hidden Checkbox */
.switch-checkbox {
	display: none;
}

/* Switch Label */
.switch-label {
	position: relative;
	width: 45px;
	height: 30px;
	background-color: #ccc;
	border-radius: 20px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 5px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	transition: background-color 0.5s ease;
}

.switch-label .sun-icon,
.switch-label .moon-icon {
	font-size: 19px;
	position: absolute;
	cursor: pointer;
	top: 50%;
	transform: translateY(-50%);
	transition: opacity 0.5s ease, color 0.5s ease;
}

.switch-label .sun-icon {
	color: #f39c12;
	left: 2px;
}

.switch-label .moon-icon {
	color: #bdc3c7;
	opacity: 0;
	left: 5px;
}

/* Switch Button */
.switch-button {
	position: absolute;
	top: 3px;
	left: 3px;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
	transition: transform 0.5s ease, background-color 0.5s ease;
}

/* Checkbox Checked State */
.switch-checkbox:checked+.switch-label {
	background-color: #111111;
}

.switch-checkbox:checked+.switch-label .sun-icon {
	opacity: 0;
}

.switch-checkbox:checked+.switch-label .moon-icon {
	opacity: 1;
}

.switch-checkbox:checked+.switch-label .switch-button {
	transform: translateX(13px);
	background-color: #34495e;
}

/* resets */

html.sr .load-hidden {
	visibility: hidden;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
	scroll-behavior: smooth;
}

:root {
	--primary-text-color: #183b56;
	--secondary-text-color: #577592;
	--accent-color: #2294ed;
	--accent-color-dark: #1d69a3;
	--padding-inline-section: 20px;
}

::-webkit-scrollbar {
	width: 12px;
}

.feature-desc>p {
	text-align: center;
}

::-webkit-scrollbar-track {
	border-radius: 5px;
	box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
}

::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background: linear-gradient(to top, #2294ed, #1d69a3);
}


::selection {
	background: var(--accent-color);
	color: #fff;
}

body {
	font-family: "Poppins", sans-serif;
	color: var(--primary-text-color);
	overflow-x: hidden;
}

#main_navbar {
	/* given same padding to top and bottom  */
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: rgba(237, 225, 225, 0.144);
	/* Adjust the color and opacity as needed */
	backdrop-filter: blur(70px);
	-webkit-backdrop-filter: blur(50px);
	border: 1px solid rgba(236, 235, 255, 0.3);
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 1000;
}




nav {
	text-align: center;
	position: sticky;
	top: 2px;
	background-color: #edc8c827;
	z-index: 1;
}

nav ul {
	list-style: none;
	margin: 0 2px;
	padding: 0;
}

nav li {
	display: inline-block;
	padding: 5px 5px;
}

nav a {
	font-weight: normal;
	font-size: .88em;
}

.wrapper1 {
	font-size: 3rem !important;
	position: relative;
	z-index: -10;
	display: flex;
}

[data-typewriter] {
	font-size: 3rem !important;
	position: relative;
	height: 2rem;
	margin-left: 8px;
}

[data-typewriter]:not(.typing) {
	animation: blink-caret 1.1s step-end infinite;
}

@keyframes blink-caret {

	0%,
	100% {
		border-color: transparent
	}

	50% {
		border-color: #ff8e3c;
	}
}

h2 {
	font-size: 2rem !important;
	z-index: -10;
	position: relative;
}

h3 {
	font-size: 1.5rem;
}

p {
	font-family: "Roboto", sans-serif;
	font-size: 1.1rem !important;
	color: var(--secondary-text-color);
	line-height: 1.8rem;
	z-index: -10;
	position: relative;
}

a {
	text-decoration: none;
	display: inline-block;
}

ul {
	list-style: none;
}

/* utility classes */

.small-bold-text {
	font-size: 1rem;
	font-weight: 700;
}

.container {
	max-width: 1180px;
	margin-inline: auto;
	padding-inline: var(--padding-inline-section);
	overflow: hidden;
}

.flex {
	display: flex;
	align-items: center;

}

.hover-link {
	color: var(--primary-text-color);
	transition: 0.2s ease-out;
}

.hover-link:hover {
	color: var(--accent-color);
}

.current-page {
	color: #4d006b;
	background-origin: border-box;
	padding: 8px 12px;
	border-radius: 8px;
	border: 2px solid rgb(0, 30, 94);
	text-decoration: none;
	font-weight: lighter;
}


.primary-button {
	background-color: var(--accent-color);
	border-radius: 6px;
	font-weight: 700;
	color: white !important;
	padding: 12px 24px;
	box-shadow: 0 0 2px var(--secondary-text-color);
	transition: 0.2s ease-out;
	text-align: center;
}

.primary-button:hover {
	background-color: var(--accent-color-dark);
}

.secondary-button {
	border: 0.5px solid var(--secondary-text-color);
	border-radius: 6px;
	font-weight: 700;
	color: var(--primary-text-color) !important;
	padding: 12px 24px;
	transition: 0.2s ease-out;
}

.secondary-button:hover {
	border-color: var(--accent-color);
	color: var(--accent-color) !important;
}

/* nav bar */

.main-nav {
	/* margin-top: 20px; */
	justify-content: space-between;
	overflow: hidden;
}

.company-logo img {
	width: 200px;
	height: 50px;
}

.nav-links {
	flex-basis: 730px;
}

.nav-menu {
	display: flex;
	align-items: center;
	column-gap: 15px;
	width: max-content;
}

.nav-links ul {
	justify-content: space-between;
}

.nav-links ul li {
	padding-left: 5px;
}

.nav-toggle {
	display: none;
}

.hamburger {
	display: none;
	cursor: pointer;
}

.bar {
	display: block;
	width: 25px;
	height: 3px;
	margin: 5px auto;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background-color: black;
}

/* social media section */

*,
*::before,
*::after {
	box-sizing: border-box;
}

.mf-social-side-list {
	position: fixed;
	top: 30vh;
	left: 10px;
	z-index: 100;
}

.mf-social-side-list ul {
	list-style: none;
	display: flex;
	flex-direction: column;
	padding: 0;
	margin: 0;
}

.mf-social-side-list ul li a {
	color: #ffffff;
	border-radius: 50%;
	width: 35px;
	height: 35px;
	line-height: 35px;
	margin-top: 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.mf-social-side-list ul li a:hover {
	opacity: 0.9;
	-webkit-transform: translateY(-3px);
	transform: translateY(-3px);
}

.mf-social-side-list ul li a[href*="facebook"] {
	background: #3b5998;
}

.mf-social-side-list ul li a[href*="instagram"] {
	background: radial-gradient(circle at 30% 107%,
			#fdf497 0%,
			#fdf497 5%,
			#fd5949 45%,
			#d6249f 60%,
			#285aeb 90%);
}

.mf-social-side-list ul li a[href*="youtube"] {
	background: #c4302b;
}

.mf-social-side-list ul li a[href*="linkedin"] {
	background: #0077b5;
}

.mf-social-side-list ul li a[href*="twitter"] {
	background: #00acee;
}

/* header section */

header {
	padding: 50px var(--padding-inline-section) 0;
}

.header-section {
	justify-content: space-around;
	gap: 50px;
}

.header-left {
	max-width: 40vw;
}

.header-left h1 {
	margin-top: 20px;
}

.get-started-btn {
	margin-top: 20px;
}

.header-right {
	z-index: -10;
	position: relative;
}

.header-right img {
	/* width: 200%; */
	/* transform: translateX(-13vw); */
	z-index: -10;
	position: relative;
}

/* features section */

.features-section {
	padding: 80px var(--padding-inline-section) 0;
	background-image: url(./assets/asset\ 32.svg);
	background-repeat: no-repeat;
	background-position: center;
	margin-bottom: 96px;
}

.features-header {
	text-align: center;
	margin-bottom: 40px;
}

.features-heading-text {
	margin-bottom: 20px;
}

.features-area {
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 20px;
	margin-top: 20px;
}

.features-card {
	flex-direction: column;
	gap: 20px;
	max-width: 30%;
	text-align: center;
	min-width: calc(50% - 10px);
	margin-bottom: 50px;
}

.features-card img {
	width: 60px;
}

/* big feature section */

.big-feature-section {
	padding: 30px var(--padding-inline-section) 0;
}

.big-feature-container {
	gap: 30px;
}

#second-big-feature {
	flex-direction: row-reverse;
}

.feature-img img {
	width: 100%;
}

.feature-desc {
	flex-direction: column;
	align-items: center;
}

.center {
	position: relative;
	left: 23vw;
}

.doubt-img {
	width: 100%;
}

.step-1 {
	margin-bottom: 108px;
}

/*Our products section */
img:hover {
	transform: scale(1.05);
	filter: url(#my-shadow);

}

#features h3:hover {
	color: #7b3ae4;
	text-shadow: 3px 4px 7px rgba(146, 145, 144, 0.8);
}

.features-header:hover {
	color: #7b3ae4;
	text-shadow: 3px 4px 7px rgba(146, 145, 144, 0.8);
	transform: scale(1.05);
}

/* pricing section */
.pricehead {
	text-align: center;
	font-weight: 700;
	padding-bottom: 45px;
	text-decoration: underline;
}

.pricing {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	padding: 20px;

	margin-bottom: 5vh;
}

.wrapper {
	max-width: 1090px;
	width: 100%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.wrapper .table {
	background: #fff;
	width: calc(33% - 20px);
	padding: 30px 30px;
	position: relative;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
	text-align: center;
	background: #e9ebff;
}

.table .price-section {
	display: flex;
	justify-content: center;
}

.table .price-area {
	height: 120px;
	width: 120px;
	border-radius: 50%;
	padding: 2px;
}

.aj_p {
	text-align: center;
}

p.aj_des {
	color: grey;
	padding-bottom: 30px;
	font-size: 14px;
}

.table.premium {
	margin: -20px;
}

.premium_all {
	padding-top: 22px;
}

.price-area .inner-area {
	height: 100%;
	width: 100%;
	line-height: 117px;
	text-align: center;
	color: #fff;
	position: relative;
}

.price-area .inner-area .text {
	font-size: 25px;
	font-weight: 400;
	position: absolute;
	top: -10px;
	left: 5px;
}

.price-area .inner-area .price {
	font-size: 45px;
	font-weight: 500;
	margin-left: 16px;
}

.table .package-name {
	width: 100%;
	height: 2px;
	margin: 35px 0;
	position: relative;
}

.table .features li {
	margin-bottom: 15px;
	list-style: none;
	display: flex;
	justify-content: space-between;
}

.features li .list-name {
	font-size: 17px;
	font-weight: 400;
}

.features li .icon {
	font-size: 15px;
}

.features li .icon.check {
	color: #2db94d;
}

.features li .icon.cross {
	color: #cd3241;
}

.check-green {
	color: #2db94d;
}

.table .btn {
	width: 100%;
	display: flex;
	justify-content: center;
}

.table .btn button {
	width: 80%;
	height: 50px;
	color: #fff;
	font-size: 20px;
	font-weight: 500;
	border: none;
	outline: none;
	border-radius: 25px;
	cursor: pointer;
	transition: all 0.3s ease;
}

.table .btn button:hover {
	border-radius: 5px;
}

.basic ::selection,
.basic .price-area,
.basic .inner-area,
.basic .head_tab h2 {
	color: red;
}

.basic .btn button {
	background: red;
	color: #fff;
	margin-top: -75px;
}

.basic .btn button:hover {
	background: rgba(240, 101, 36);
	color: #fff;
}

.premium ::selection,
.premium .price-area,
.premium .inner-area,
.premium .head_tab h2 {
	color: #ba24f0;
	margin-bottom: 1.5vh;
}

.premium .btn button {
	background: #ba24f0;
	color: #fff;
	margin-top: -75px;
}

.premium .btn button:hover {
	background: rgba(240, 101, 36);
	color: #fff;
}

.ultimate ::selection,
.ultimate .price-area,
.ultimate .inner-area,
.ultimate .head_tab h2 {
	color: #f5b55a;
	margin-bottom: 1vh;
}

.ultimate .btn button {
	background: #f5b55a;
	color: #fff;
	margin-top: -75px;
}

.ultimate .btn button:hover {
	background: rgba(240, 101, 36);
	color: #fff;
}

@media (max-width: 756px) {
	.wrapper .table {
		width: 100%;
	}

	.table.premium {
		margin: 40px 0px;
	}

	.table.ultimate {
		margin: 0px;
	}

	[data-typewriter],
	.wrapper1 {
		font-size: 2rem !important;
		justify-content: center !important;
	}

	#sub-para {
		margin-top: 1.5rem;
	}
}

::selection {
	color: #fff;
}

.table .ribbon {
	width: 150px;
	height: 150px;
	position: absolute;
	top: -10px;
	left: -10px;
	overflow: hidden;
}

.table .ribbon::before,
table .ribbon::after {
	position: absolute;
	content: "";
	z-index: -1;
	display: block;
	border: 7px solid #ba24f0;
	border-top-color: transparent;
	border-left-color: transparent;
}

.table .ribbon::before {
	top: 0px;
	right: 15px;
}

.table .ribbon::after {
	bottom: 15px;
	left: 0px;
}

.table .ribbon span {
	position: absolute;
	top: 30px;
	right: 0;
	transform: rotate(-45deg);
	width: 200px;
	background: #ba24f0;
	padding: 10px 0;
	color: #fff;
	text-align: center;
	font-size: 17px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
}

/* footer */

.footer {
	/*	bottom: 0;
	left: 0;
	right: 0;
	background: #111;
	*/

	height: auto;

	padding-top: 20px;
	background-color: #ebf2fa;
}

.footer-content {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: row;
	padding: 3vh;
}

.app-logo {
	margin-left: 50px;
	padding-left: 50px;
	width: 300px;
}

.app-info {
	margin-right: 10px;
	padding-left: 100px;
	width: 1000px;
	align-items: center;
	/* padding-right: 100px; */


}

.app-paragraph {
	word-wrap: break-word;
	margin-right: 4vh;
}

.footer-logo img {
	height: 61px;
	width: 270px;
	border-left: 6px solid #2d4bf0;
	padding-left: 10px;
	padding-right: 15px;
	border-right: 6px solid #2d4bf0;
}

.app-info p {
	padding-bottom: 30px;
	color: ffffff;
	/* padding-left: 20px; */

}

.useful-links {
	margin: auto;
	width: 500px;
	text-decoration: underline;
	/* padding-right: 30px; */
}

.useful-links ul {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	padding: auto;
	/* text-align: center; */

}

.links-title {
	font-size: 1.40rem;
	width: 100%;
	text-align: start;
	line-height: 1.30rem;
	color: rgb(33, 28, 28);
	height: fit-content;
	padding-bottom: 20px;
}

.links-title-span {
	padding-left: 10px;
	border-left: 6px solid #2d4bf0;
	padding-right: 10px;
	border-right: 6px solid #2d4bf0;

}

.useful-links ul li {
	font-size: 2.3vh;
	padding: 3px;
	color: ffffff;

}

.useful-links ul li a:hover {
	color: #111;
	transition: 0.5s;
	transform: scale(1.1);
}

.footer-logo {
	font-size: 2.1rem;
	font-weight: 500;
	text-transform: capitalize;
	line-height: 3rem;
}

.copyright {
	background-color: #d6d9fd;
	padding: 18px;
	text-align: center;
}

.copyright h3 {
	font-size: 20px;
	color: rgb(33, 28, 28);
}

.copyright h3 a {

	color: rgb(34, 91, 184);
}

.copyright h3 a:hover {

	transition: 0.5s;
	transform: scale(1.1);
}

.popup {
	transition: all 300ms ease-out;
}

.popup-basic:hover {
	box-shadow: 8px 18px 25px #dc5555;
}

.popup-premium:hover {
	box-shadow: 8px 18px 25px #5f4b8bff;
}

.popup-ultimate:hover {
	box-shadow: 8px 18px 25px #f5b55a;
}

#myBtn {
	position: fixed;
	bottom: 20px;
	right: 10px;
	height: 60px;
	width: 60px;
	display: none;
	place-items: center;
	border-radius: 50%;
	transition: opacity 0.3s, background-color 0.3s;
	box-shadow: 4px 4px 6px 0 rgba(0, 0, 0, 0.3),
		inset -4px -4px 6px 0 rgba(255, 255, 255, .2),
		inset 4px 4px 6px 0 rgba(97, 96, 96, 0.2);
	cursor: pointer;
	z-index: 1;
}

#myBtn:hover {
	opacity: 1;
	background-color: #91f0c0;
	animation: animate 1s linear infinite;
}

@keyframes animate {
	50% {
		transform: translateY(3px);
	}
}

#mode-switch-icon {
	width: 22px;
	cursor: pointer;
}

/*
body{
color:#38373743
}