/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');



.slide-container{
  max-width: 1120px;
  width: 100%;
  padding: 40px 0;
}
.slide-content{
  margin: 0 40px;
  overflow: hidden;
  border-radius: 25px;
}


.image-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 25px 0;
}


.card-image{
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: #ffffff;
}
.card-image .card-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #3c4aea;
}
.swiper-navBtn{
  color: #3c4aea;
  transition: color 0.3s ease;
}
.swiper-navBtn:hover{
  color: #3c4aea;
}
.swiper-navBtn::before,
.swiper-navBtn::after{
  font-size: 35px;
}
.swiper-button-next{
  right: 0;
}
.swiper-button-prev{
  left: 0;
}
.swiper-pagination-bullet{
  background-color: #3c4aea;
  opacity: 1;
}
.swiper-pagination-bullet-active{
  background-color: #3c4aea;
}

/* Override Swiper styles */
.slide-container .swiper-slide {
  transform: none;
  backface-visibility: visible;
}


@media screen and (max-width: 768px) {
  .slide-content{
    margin: 0 10px;
  }
  .swiper-navBtn{
    display: none;
  }
}



.card{
  position: relative;
  transition: all 1s linear;
    transform-style: preserve-3d;
    perspective: 1000px;
    border-radius: 25px;
  
  background-color:  #e9ebff;
  height:300px;
  transform-origin: center;
}
.card:hover{
  transform: rotateY(180deg);
  
}
.fronts {
  backface-visibility: hidden;
}

.backs {
  transform: rotateY(180deg);
  backface-visibility: hidden;
  border: 2px solid #3c4aea;
  background-color: white;
  border-radius: 50px;
  font-size: 1em;
  height: 100%;
  width:100%
}

.rating i {
  color: #ffc107;
}

.backs {
	position: relative;
	padding: 10px 40px;
	&::before {
		content: "\201C";
		position: absolute;
		font-weight: bold;
		font-size: 4em;
		color: #3c4aea;
		top: -30px;
		left: 0px;
		font-family: Georgia, Times, serif;
	}
	&::after {
		content: "\201D";
		position: absolute;
		font-weight: bold;
		font-size: 4em;
		color: #3c4aea;
		bottom: -50px;
		right: 0px;
		font-family: Georgia, Times, serif;
	}
}