@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;700&display=swap');

:root {
    --padding-inline-section: 20px;
}

/* resets */
  
::-webkit-scrollbar{
    width: 12px;
}
  
::-webkit-scrollbar-track{
    border-radius: 5px;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.25);
}
  
::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background: linear-gradient(to top, #2294ed , #1d69a3);
}

/* nav bar */

.nav-toggle {
    display: none;
}

.hamburger{ /* In Use */
  display: none;
  cursor: pointer;
}

.bar{ /* In Use */
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: black;
}
