<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orbital Configuration Simulator</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="icon" type="image/x-icon" href="../../../assets/logo.png">
</head>
<body>
    <h1 class="heading">Orbital Configuration Simulator</h1>
    <img src="img/1.png" id="img">
    <div class="slidercontainer">
        <button onclick="ImgUpdateBtnPrev()" class="button-10">Previous</button>
        <input type="range" min="1" max="108" value="1" id="slider"  onchange="ImgUpdate()" >
        <button onclick="ImgUpdateBtnNext()" class="button-10">Next</button>
    </div>
        <div class="container">
            <div class="row">
                <div class="card" Style="background-color: greenyellow;" ><div class="elt-num">1</div><div class="inner">H</div><div class="elt">Hydrogen</div></div>
                <div class="card" style="visibility: hidden;"><div class="elt-num">2</div><div class="inner">H</div><div class="elt">Hydrogen</div></div>
                <div class="card" style="visibility: hidden;"> <div class="elt-num">2</div><div class="inner">H</div><div class="elt">Hydrogen</div></div>
                <div class="card" style="visibility: hidden;"><div class="elt-num">2</div> <div class="inner">H</div><div class="elt">Hydrogen</div></div>
                <div class="card" style="visibility: hidden;"><div class="elt-num">2</div> <div class="inner">H</div><div class="elt">Hydrogen</div></div>
                <div class="card" style="visibility: hidden;"><div class="elt-num">2</div><div class="inner">H</div><div class="elt">Hydrogen</div></div>
                <div class="card" style="visibility: hidden;"><div class="elt-num">2</div><div class="inner">H</div><div class="elt">Hydrogen</div></div>
                <div class="card" style="visibility: hidden;"><div class="elt-num">2</div> <div class="inner">H</div><div class="elt">Hydrogen</div></div>
                <div class="card" style="visibility: hidden;"><div class="elt-num">2</div> <div class="inner">H</div><div class="elt">Hydrogen</div></div>
                <div class="card" style="visibility: hidden;"><div class="elt-num">2</div> <div class="inner">H</div><div class="elt">Hydrogen</div></div>
                <div class="card" style="visibility: hidden;"><div class="elt-num">2</div> <div class="inner">H</div><div class="elt">Hydrogen</div></div>
                <div class="card" style="visibility: hidden;"><div class="elt-num">2</div> <div class="inner">H</div><div class="elt">Hydrogen</div></div>
                <div class="card" style="visibility: hidden;"><div class="elt-num">2</div> <div class="inner">H</div><div class="elt">Hydrogen</div></div>
                <div class="card" style="visibility: hidden;"><div class="elt-num">2</div> <div class="inner">H</div><div class="elt">Hydrogen</div></div>
                <div class="card" style="visibility: hidden;"><div class="elt-num">2</div> <div class="inner">H</div><div class="elt">Hydrogen</div></div>
                <div class="card" style="visibility: hidden;"><div class="elt-num">2</div> <div class="inner">H</div><div class="elt">Hydrogen</div></div>
                <div class="card" style="visibility: hidden;"><div class="elt-num">2</div> <div class="inner">H</div><div class="elt">Hydrogen</div></div>
                <div class="card" Style="background-color: plum;"> <div class="elt-num">2</div> <div class="inner">He</div><div class="elt">Helium</div></div>
    
            </div>
            
            <div class="row">
            
                <div class="card" Style="background-color:lightcoral;"> <div class="elt-num">3</div><div class="inner">Li</div><div class="elt">Lithium</div></div>
                <div class="card" Style="background-color:darkorange;"> <div class="elt-num">4</div><div class="inner">Be</div><div class="elt">Beryllium</div></div>
                <div class="card" style="visibility: hidden;"><div class="elt-num">2</div> <div class="inner">H</div><div class="elt">Hydrogen</div></div>
                <div class="card" style="visibility: hidden;"><div class="elt-num">2</div> <div class="inner">H</div><div class="elt">Hydrogen</div></div>
                <div class="card" style="visibility: hidden;"><div class="elt-num">2</div> <div class="inner">H</div><div class="elt">Hydrogen</div></div>
                <div class="card" style="visibility: hidden;"><div class="elt-num">2</div><div class="inner">H</div><div class="elt">Hydrogen</div></div>
                <div class="card" style="visibility: hidden;"><div class="elt-num">2</div><div class="inner">H</div><div class="elt">Hydrogen</div></div>
                <div class="card" style="visibility: hidden;"> <div class="elt-num">2</div><div class="inner">H</div><div class="elt">Hydrogen</div></div>
                <div class="card" style="visibility: hidden;"> <div class="elt-num">2</div><div class="inner">H</div><div class="elt">Hydrogen</div></div>
                <div class="card" style="visibility: hidden;"> <div class="elt-num">2</div><div class="inner">H</div><div class="elt">Hydrogen</div></div>
                <div class="card" style="visibility: hidden;"><div class="elt-num">2</div> <div class="inner">H</div><div class="elt">Hydrogen</div></div>
                <div class="card" style="visibility: hidden;"><div class="elt-num">2</div> <div class="inner">H</div><div class="elt">Hydrogen</div></div>
                <div class="card" Style="background-color:yellow;"> <div class="elt-num">5</div><div class="inner">B</div><div class="elt">Boron</div></div>
                <div class="card" Style="background-color: greenyellow;"> <div class="elt-num">6</div><div class="inner">C</div><div class="elt">Carbon</div></div>
                <div class="card" Style="background-color: greenyellow;"> <div class="elt-num">7</div><div class="inner">N</div><div class="elt">Nitrogen</div></div>
                <div class="card" Style="background-color: greenyellow;"> <div class="elt-num">8</div><div class="inner">O</div><div class="elt">Oxygen</div></div>
                <div class="card" Style="background-color: greenyellow;"> <div class="elt-num">9</div><div class="inner">F</div><div class="elt">Fluorine</div></div>
                <div class="card" Style="background-color: plum;"> <div class="elt-num">10</div><div class="inner">Ne</div><div class="elt">Neon</div></div>
    
            </div>
            
            <div class="row">
            
                <div class="card" Style="background-color:lightcoral;"> <div class="elt-num">11</div><div class="inner">Na</div><div class="elt">Sodium</div></div>
                <div class="card" Style="background-color:darkorange;"> <div class="elt-num">12</div><div class="inner">Mg</div><div class="elt">Magnesium</div></div>
                <div class="card" style="visibility: hidden;"><div class="elt-num">2</div> <div class="inner">H</div><div class="elt">Hydrogen</div></div>
                <div class="card" style="visibility: hidden;"><div class="elt-num">2</div> <div class="inner">H</div><div class="elt">Hydrogen</div></div>
                <div class="card" style="visibility: hidden;"><div class="elt-num">2</div> <div class="inner">H</div><div class="elt">Hydrogen</div></div>
                <div class="card" style="visibility: hidden;"><div class="elt-num">2</div><div class="inner">H</div><div class="elt">Hydrogen</div></div>
                <div class="card" style="visibility: hidden;"><div class="elt-num">2</div><div class="inner">H</div><div class="elt">Hydrogen</div></div>
                <div class="card" style="visibility: hidden;"> <div class="elt-num">2</div><div class="inner">H</div><div class="elt">Hydrogen</div></div>
                <div class="card" style="visibility: hidden;"> <div class="elt-num">2</div><div class="inner">H</div><div class="elt">Hydrogen</div></div>
                <div class="card" style="visibility: hidden;"> <div class="elt-num">2</div><div class="inner">H</div><div class="elt">Hydrogen</div></div>
                <div class="card" style="visibility: hidden;"><div class="elt-num">2</div> <div class="inner">H</div><div class="elt">Hydrogen</div></div>
                <div class="card" style="visibility: hidden;"><div class="elt-num">2</div> <div class="inner">H</div><div class="elt">Hydrogen</div></div>
                <div class="card" Style="background-color:rgb(194, 24, 194);"> <div class="elt-num">13</div><div class="inner">Al</div><div class="elt">Aluminum</div></div>
                <div class="card" Style="background-color:yellow;"> <div class="elt-num">14</div><div class="inner">Si</div><div class="elt">Silicon</div></div>
                <div class="card" Style="background-color: greenyellow;" > <div class="elt-num">15</div><div class="inner">P</div><div class="elt">Phosphorous</div></div>
                <div class="card" Style="background-color: greenyellow;"> <div class="elt-num">16</div><div class="inner">S</div><div class="elt">Sulfur</div></div>
                <div class="card" Style="background-color: greenyellow;"> <div class="elt-num">17</div><div class="inner">Cl</div><div class="elt">Chlorine</div></div>
                <div class="card" Style="background-color: plum;" > <div class="elt-num">18</div><div class="inner">Ar</div><div class="elt">Argon</div></div>
    
            </div>
            
            <div class="row">
            
                <div class="card" Style="background-color:lightcoral;"> <div class="elt-num">19</div><div class="inner">k</div><div class="elt">Potassium</div></div>
                <div class="card" Style="background-color:darkorange;"> <div class="elt-num">20</div><div class="inner">Ca</div><div class="elt">Calcium</div></div>
                <div class="card" Style="background-color:lightskyblue;"> <div class="elt-num">21</div><div class="inner">Sc</div><div class="elt">Scandium</div></div>
                <div class="card" Style="background-color:lightskyblue;"> <div class="elt-num">22</div><div class="inner">Ti</div><div class="elt">Titanium</div></div>
                <div class="card" Style="background-color:lightskyblue;"> <div class="elt-num">23</div><div class="inner">V</div><div class="elt">Vanadium</div></div>
                <div class="card" Style="background-color:lightskyblue;"> <div class="elt-num">24</div><div class="inner">Cr</div><div class="elt">Chromium</div></div>
                <div class="card" Style="background-color:lightskyblue;"> <div class="elt-num">25</div><div class="inner">Mn</div><div class="elt">Mangnese</div></div>
                <div class="card" Style="background-color:lightskyblue;"> <div class="elt-num">26</div><div class="inner">Fe</div><div class="elt">Iron</div></div>
                <div class="card" Style="background-color:lightskyblue;"> <div class="elt-num">27</div><div class="inner">Co</div><div class="elt">Cobalt</div></div>
                <div class="card" Style="background-color:lightskyblue;"> <div class="elt-num">28</div><div class="inner">Ni</div><div class="elt">Nickle</div></div>
                <div class="card" Style="background-color:lightskyblue;"> <div class="elt-num">29</div><div class="inner">Cu</div><div class="elt">Copper</div></div>
                <div class="card" Style="background-color:rgb(194, 24, 194);"> <div class="elt-num">30</div><div class="inner">Zn</div><div class="elt">Zinc</div></div>
                <div class="card" Style="background-color:rgb(194, 24, 194);"> <div class="elt-num">31</div><div class="inner">Ga</div><div class="elt">Gallium</div></div>
                <div class="card" Style="background-color:yellow;"> <div class="elt-num">32</div><div class="inner">Ge</div><div class="elt">Germanium</div></div>
                <div class="card" Style="background-color:yellow;"> <div class="elt-num">33</div><div class="inner">As</div><div class="elt">Arsenic</div></div>
                <div class="card" Style="background-color: greenyellow;" > <div class="elt-num">34</div><div class="inner">Se</div><div class="elt">Selenium</div></div>
                <div class="card" Style="background-color: greenyellow;"> <div class="elt-num">35</div><div class="inner">Br</div><div class="elt">Bromine</div></div>
                <div class="card" Style="background-color: plum;"> <div class="elt-num">36</div><div class="inner">Kr</div><div class="elt">Krypton</div></div>
    
            </div>
            <div class="row">
            
                <div class="card" Style="background-color:lightcoral;"> <div class="elt-num">37</div><div class="inner">Rb</div><div class="elt">Rubidium</div></div>
                <div class="card" Style="background-color:darkorange;"> <div class="elt-num">38</div><div class="inner">Sr</div><div class="elt">Strontium</div></div>
                <div class="card" Style="background-color:lightskyblue;"> <div class="elt-num">39</div><div class="inner">Y</div><div class="elt">Yttrium</div></div>
                <div class="card" Style="background-color:lightskyblue;"> <div class="elt-num">40</div><div class="inner">Zr</div><div class="elt">Zirconium</div></div>
                <div class="card" Style="background-color:lightskyblue;"> <div class="elt-num">41</div><div class="inner">Nb</div><div class="elt"> Niobium</div></div>
                <div class="card" Style="background-color:lightskyblue;"> <div class="elt-num">42</div><div class="inner">Mo</div><div class="elt">Molybdenum</div></div>
                <div class="card" Style="background-color:lightskyblue;"> <div class="elt-num">43</div><div class="inner">Tc</div><div class="elt">Technetium</div></div>
                <div class="card" Style="background-color:lightskyblue;"> <div class="elt-num">44</div><div class="inner">Ru</div><div class="elt">Ruthenium</div></div>
                <div class="card" Style="background-color:lightskyblue;"> <div class="elt-num">45</div><div class="inner">Rh</div><div class="elt">Rhodium</div></div>
                <div class="card" Style="background-color:lightskyblue;"> <div class="elt-num">46</div><div class="inner">Pd</div><div class="elt">Palladium</div></div>
                <div class="card" Style="background-color:lightskyblue;"> <div class="elt-num">47</div><div class="inner">Ag</div><div class="elt">Silver</div></div>
                <div class="card" Style="background-color:rgb(194, 24, 194);"> <div class="elt-num">48</div><div class="inner">Cd</div><div class="elt">Cadmium</div></div>
                <div class="card" Style="background-color:rgb(194, 24, 194);"> <div class="elt-num">49</div><div class="inner">In</div><div class="elt"> Indium</div></div>
                <div class="card" Style="background-color:rgb(194, 24, 194);"> <div class="elt-num">50</div><div class="inner">Sn</div><div class="elt">Tin</div></div>
                <div class="card" Style="background-color:yellow;"> <div class="elt-num">51</div><div class="inner">Sb</div><div class="elt">Antimony</div></div>
                <div class="card" Style="background-color:yellow;"> <div class="elt-num">52</div><div class="inner">Te</div><div class="elt">Tellurium</div></div>
                <div class="card" Style="background-color: greenyellow;"> <div class="elt-num">53</div><div class="inner">I</div><div class="elt">Iodine</div></div>
                <div class="card" Style="background-color: plum;"> <div class="elt-num">54</div><div class="inner">Xe</div><div class="elt">Xenon</div></div>
    
            </div>
            <div class="row">
              
                <div class="card" Style="background-color:lightcoral;"> <div class="elt-num">55</div><div class="inner">Cs</div><div class="elt">Cesium</div></div>
                <div class="card" Style="background-color:darkorange;"> <div class="elt-num">56</div><div class="inner">Ba</div><div class="elt">Barium</div></div>
                <div class="card" Style="background-color:rgb(4, 143, 249)"> <div class="elt-num">57-71</div><div class="inner">*</div><div class="elt"></div></div>
                <div class="card" Style="background-color:lightskyblue;"> <div class="elt-num">72</div><div class="inner">Hf</div><div class="elt">Hafnium</div></div>
                <div class="card" Style="background-color:lightskyblue;"> <div class="elt-num">73</div><div class="inner">Ta</div><div class="elt">Tantalum</div></div>
                <div class="card" Style="background-color:lightskyblue;"> <div class="elt-num">74</div><div class="inner">W</div><div class="elt">Tungsten</div></div>
                <div class="card" Style="background-color:lightskyblue;"> <div class="elt-num">75</div><div class="inner">Re</div><div class="elt">Rhenium</div></div>
                <div class="card" Style="background-color:lightskyblue;"> <div class="elt-num">76</div><div class="inner">Os</div><div class="elt">Osmium</div></div>
                <div class="card" Style="background-color:lightskyblue;"> <div class="elt-num">77</div><div class="inner">Ir</div><div class="elt">Iridium</div></div>
                <div class="card" Style="background-color:lightskyblue;"> <div class="elt-num">78</div><div class="inner">Pt</div><div class="elt">Platinum</div></div>
                <div class="card" Style="background-color:lightskyblue;"> <div class="elt-num">79</div><div class="inner">Au</div><div class="elt">Gold</div></div>
                <div class="card" Style="background-color:rgb(194, 24, 194);"> <div class="elt-num">80</div><div class="inner">Hg</div><div class="elt">Mercury</div></div>
                <div class="card" Style="background-color:rgb(194, 24, 194);"> <div class="elt-num">81</div><div class="inner">Tl</div><div class="elt">Thallium</div></div>
                <div class="card" Style="background-color:rgb(194, 24, 194);"> <div class="elt-num">82</div><div class="inner">Pb</div><div class="elt">Lead</div></div>
                <div class="card" Style="background-color:rgb(194, 24, 194);"> <div class="elt-num">83</div><div class="inner">Bi</div><div class="elt">Bismuth</div></div>
                <div class="card" Style="background-color:rgb(194, 24, 194);"> <div class="elt-num">84</div><div class="inner">Po</div><div class="elt">Polonium</div></div>
                <div class="card" Style="background-color:yellow;"> <div class="elt-num">85</div><div class="inner">At</div><div class="elt">Astatine</div></div>
                <div class="card" Style="background-color: plum;" > <div class="elt-num">86</div><div class="inner">Rn</div><div class="elt">Radon</div></div>
            </div>
            <div class="row">
                <div class="card" Style="background-color:lightcoral;"> <div class="elt-num">87</div><div class="inner">Fr</div><div class="elt">Francium</div></div>
                <div class="card" Style="background-color:darkorange;"> <div class="elt-num">88</div><div class="inner">Ra</div><div class="elt">Radium</div></div>
                <div class="card" Style="background-color:rgb(34, 244, 244)"> <div class="elt-num">89-103</div><div class="inner">*</div><div class="elt"></div></div>
                <div class="card" Style="background-color:lightskyblue;"> <div class="elt-num">104</div><div class="inner">Rf</div><div class="elt">Rutherfordium</div></div>
                <div class="card" Style="background-color:lightskyblue;"> <div class="elt-num">105</div><div class="inner">Db</div><div class="elt">Dubnium</div></div>
                <div class="card" Style="background-color:lightskyblue;"> <div class="elt-num">106</div><div class="inner">Sg</div><div class="elt">Seaborgium</div></div>
                <div class="card" Style="background-color:lightgrey;"> <div class="elt-num">107</div><div class="inner">Bh</div><div class="elt">Bohrium</div></div>
                <div class="card" Style="background-color:lightgrey;"> <div class="elt-num">108</div><div class="inner">Hs</div><div class="elt">Hassium</div></div>
                <div class="card" Style="background-color:lightgrey;"> <div class="elt-num">109</div><div class="inner">Mt</div><div class="elt">Meitnerium</div></div>
                <div class="card" Style="background-color:lightgrey;"> <div class="elt-num">110</div><div class="inner">Ds</div><div class="elt">Darmstadtium</div></div>
                <div class="card" Style="background-color:lightgrey;"> <div class="elt-num">111</div><div class="inner">Rg</div><div class="elt">Roentgenium</div></div>
                <div class="card" Style="background-color:rgb(194, 24, 194);"> <div class="elt-num">112</div><div class="inner">Cn</div><div class="elt">Copernicium</div></div>
                <div class="card" Style="background-color:lightgrey;"> <div class="elt-num">113</div><div class="inner">Nh</div><div class="elt">Nihonium</div></div>
                <div class="card" Style="background-color:lightgrey;"> <div class="elt-num">114</div><div class="inner">Fl</div><div class="elt">Flerovium</div></div>
                <div class="card" Style="background-color:lightgrey;"> <div class="elt-num">115</div><div class="inner">Mc</div><div class="elt">Moscovium</div></div>
                <div class="card" Style="background-color:lightgrey;"> <div class="elt-num">116</div><div class="inner">Lv</div><div class="elt">Livermorium</div></div>
                 <div class="card" Style="background-color:lightgrey;"> <div class="elt-num">117</div><div class="inner">Ts</div><div class="elt">Tennessine</div></div>
                 <div class="card" Style="background-color:lightgrey;"> <div class="elt-num">118</div><div class="inner">Og</div><div class="elt">Oganesson</div></div>
            </div>
            <br>
            <div class="row">
                <div class="card" style="visibility: hidden;"> <div class="elt-num">2</div><div class="inner">H</div><div class="elt">Hydrogen</div></div>
                <div class="card" style="visibility: hidden;"> <div class="elt-num">2</div><div class="inner">H</div><div class="elt">Hydrogen</div></div>
                <div class="card" Style="background-color:rgb(4, 143, 249)"> <div class="elt-num">57</div><div class="inner">La</div><div class="elt">Lanthanum</div></div>
                <div class="card" Style="background-color:rgb(4, 143, 249)"> <div class="elt-num">58</div><div class="inner">Ce</div><div class="elt">Cerium</div></div>
                <div class="card" Style="background-color:rgb(4, 143, 249)"> <div class="elt-num">59</div><div class="inner">Pr</div><div class="elt"> Praseodymium</div></div>
                <div class="card" Style="background-color:rgb(4, 143, 249)"> <div class="elt-num">60</div><div class="inner">Nd</div><div class="elt">Neodymium</div></div>
                <div class="card" Style="background-color:rgb(4, 143, 249)"> <div class="elt-num">61</div><div class="inner">Pm</div><div class="elt">Promethium</div></div>
                <div class="card" Style="background-color:rgb(4, 143, 249)"> <div class="elt-num">62</div><div class="inner">Sm</div><div class="elt"> Samarium</div></div>
                <div class="card" Style="background-color:rgb(4, 143, 249)"> <div class="elt-num">63</div><div class="inner">Eu</div><div class="elt">Europium</div></div>
                <div class="card" Style="background-color:rgb(4, 143, 249)"> <div class="elt-num">64</div><div class="inner">Gd</div><div class="elt">Gadolinium</div></div>
                <div class="card" Style="background-color:rgb(4, 143, 249)"> <div class="elt-num">65</div><div class="inner">Tb</div><div class="elt"> Terbium</div></div>
                <div class="card" Style="background-color:rgb(4, 143, 249)"> <div class="elt-num">66</div><div class="inner">Dy</div><div class="elt">Dysprosium</div></div>
                <div class="card" Style="background-color:rgb(4, 143, 249)"> <div class="elt-num">67</div><div class="inner">Ho</div><div class="elt">Holmium</div></div>
                <div class="card" Style="background-color:rgb(4, 143, 249)"> <div class="elt-num">68</div><div class="inner">Er</div><div class="elt">Erbium</div></div>
                <div class="card" Style="background-color:rgb(4, 143, 249)"> <div class="elt-num">69</div><div class="inner">Tm</div><div class="elt">Thulium</div></div>
                <div class="card" Style="background-color:rgb(4, 143, 249)"> <div class="elt-num">70</div><div class="inner">Yb</div><div class="elt">Ytterbium</div></div>
                <div class="card" Style="background-color:rgb(4, 143, 249)"> <div class="elt-num">71</div><div class="inner">Lu</div><div class="elt">Lutetium</div></div>
                <div class="card" style="visibility: hidden;"> <div class="elt-num">2</div><div class="inner">H</div><div class="elt">Hydrogen</div></div>
            </div>
            <div class="row">
                <div class="card" style="visibility: hidden;"> <div class="elt-num">2</div><div class="inner">H</div><div class="elt">Hydrogen</div></div>
                <div class="card" style="visibility: hidden;"> <div class="elt-num">2</div><div class="inner">H</div><div class="elt">Hydrogen</div></div>
                <div class="card" Style="background-color:rgb(34, 244, 244)"> <div class="elt-num">89</div><div class="inner">Ac</div><div class="elt">Actinium</div></div>
                <div class="card" Style="background-color:rgb(34, 244, 244)"> <div class="elt-num">90</div><div class="inner">Th</div><div class="elt">Thorium</div></div>
                <div class="card" Style="background-color:rgb(34, 244, 244)"> <div class="elt-num">91</div><div class="inner">Pa</div><div class="elt">Protactinium</div></div>
                <div class="card" Style="background-color:rgb(34, 244, 244)"> <div class="elt-num">92</div><div class="inner">U</div><div class="elt">Uranium</div></div>
                <div class="card" Style="background-color:rgb(34, 244, 244)"> <div class="elt-num">93</div><div class="inner">Np</div><div class="elt">Neptunium</div></div>
                <div class="card" Style="background-color:rgb(34, 244, 244)"> <div class="elt-num">94</div><div class="inner">Pu</div><div class="elt">Plutonium</div></div>
                <div class="card" Style="background-color:rgb(34, 244, 244)"> <div class="elt-num">95</div><div class="inner">Am</div><div class="elt">Americium</div></div>
                <div class="card" Style="background-color:rgb(34, 244, 244)"> <div class="elt-num">96</div><div class="inner">Cm</div><div class="elt">Curium</div></div>
                <div class="card" Style="background-color:rgb(34, 244, 244)"> <div class="elt-num">97</div><div class="inner">Bk</div><div class="elt">Berkelium</div></div>
                <div class="card" Style="background-color:rgb(34, 244, 244)"> <div class="elt-num">98</div><div class="inner">Cf</div><div class="elt">Californium</div></div>
                <div class="card" Style="background-color:rgb(34, 244, 244)"> <div class="elt-num">99</div><div class="inner">Es</div><div class="elt">Einsteinium</div></div>
                <div class="card" Style="background-color:rgb(34, 244, 244)"> <div class="elt-num">100</div><div class="inner">Fm</div><div class="elt">Fermium</div></div>
                <div class="card" Style="background-color:rgb(34, 244, 244)"> <div class="elt-num">101</div><div class="inner">Md</div><div class="elt">Mendelevium</div></div>
                <div class="card" Style="background-color:rgb(34, 244, 244)"> <div class="elt-num">102</div><div class="inner">No</div><div class="elt">Nobelium</div></div>
                <div class="card" Style="background-color:rgb(34, 244, 244)"> <div class="elt-num">103</div><div class="inner">Lr</div><div class="elt">Lawrencium</div></div>
                <div class="card" style="visibility: hidden;"> <div class="elt-num">2</div><div class="inner">H</div><div class="elt">Hydrogen</div></div>
            </div>
        </div>
    
    <script src="script.js"></script>
</body>
</html>